<html lang='zh-CN'>

<head>
  <%- include('./includes/head', { siteTitle: `${post.title} | ${themeConfig.siteName}` }) %>
    <meta name="description" content="<%- post.description %>" />
    <meta name="keywords" content="<%- post.tags.map(tag => tag.name).join(',') %>" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.css"> -->
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.7.2/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</head>

<body>

  <%- include('./includes/navbar') %>

    <%- include('./includes/header') %>

      <div class="container">

        <h2 class="post-title title">
          <%= post.title %>
        </h2>

        <div class="post-info">
          <span>
            <%= post.dateFormat %>
          </span>
          <span>
            <%= post.stats.words %> 字数
          </span>
          <br>
          <% post.tags.forEach(function(tag) { %>
            <a href="<%= tag.link %>" class="post-tag">
              # <%= tag.name %>
            </a>
            <% }); %>
        </div>


        <div class="post-detail">

          <article class="post">
            <div class="post-content-wrapper">
              <div class="row">
                <div class="post-content  col-lg-9">
                  <%- post.content %>
                </div>


                <div class="col-lg-3 d-none d-lg-block">
                  <% if (themeConfig.showFeatureImage && post.feature) { %>
                    <div class="clearfix"
                      style="position: relative; border-radius: 1.45rem; overflow: hidden; margin-bottom: 25px;">
                      <img class="post-feature-image" src="<%= post.feature %>" alt="">
                      <div class="mask-dark"></div>
                    </div>
                    <% } %>

                      <div class="toc-container">
                        <%- post.toc %>
                      </div>
                </div>
              </div>
            </div>
          </article>
        </div>

        <div class="post-footer">
          <% if (post.prevPost && !post.hideInList) { %>
            <div class="prev-post">
              <a href="<%= post.prevPost.link %>">
                <h3 class="post-title title">
                  上一篇 <%= post.prevPost.title %>
                </h3>
              </a>
            </div>
            <% } %>
              <% if (post.nextPost && !post.hideInList) { %>
                <div class="next-post">
                  <a href="<%= post.nextPost.link %>">
                    <h3 class="post-title title">
                      下一篇 <%= post.nextPost.title %>
                    </h3>
                  </a>
                </div>
                <% } %>
        </div>

        <% if (typeof commentSetting !=='undefined' && commentSetting.showComment) { %>
          <% if (commentSetting.commentPlatform==='gitalk' ) { %>
            <%- include('./includes/gitalk') %>
              <% } %>

                <% if (commentSetting.commentPlatform==='disqus' ) { %>
                  <%- include('./includes/disqus') %>
                    <% } %>
                      <% } %>

                        <% if (false) {%>
                          <%- include('./includes/valine') %>
                            <% } %>

                              <!--PC版-->
                              <div id="SOHUCS" sid="请将此处替换为配置SourceID的语句"></div>
                              <script charset="utf-8" type="text/javascript"
                                src="https://cy-cdn.kuaizhan.com/upload/changyan.js"></script>
                              <script type="text/javascript">
                                window.changyan.api.config({
                                  appid: 'cyvvpf8HL',
                                  conf: 'prod_4b73ec820ce1513f3db79883d69a80b5'
                                });
                              </script>


      </div>
      </div>

      <%- include('./includes/footer') %>

        <%- include('./includes/script') %>


          <script>
            hljs.initHighlightingOnLoad()

            let mainNavLinks = document.querySelectorAll(".markdownIt-TOC a");

            // This should probably be throttled.
            // Especially because it triggers during smooth scrolling.
            // https://lodash.com/docs/4.17.10#throttle
            // You could do like...
            // window.addEventListener("scroll", () => {
            //    _.throttle(doThatStuff, 100);
            // });
            // Only not doing it here to keep this Pen dependency-free.


            window.addEventListener("scroll", event => {
              let fromTop = window.scrollY;

              mainNavLinks.forEach((link, index) => {
                let section = document.getElementById(decodeURI(link.hash).substring(1));
                let nextSection = null
                var $link = $(link)

                if (mainNavLinks[index + 1]) {
                  nextSection = document.getElementById(decodeURI(mainNavLinks[index + 1].hash).substring(1));
                }
                if (section.offsetTop <= fromTop) {
                  if (nextSection) {
                    if (nextSection.offsetTop > fromTop) {
                      $link.addClass('current')
                    } else {
                      $link.removeClass('current')
                    }
                  } else {
                    $link.addClass('current')
                  }
                } else {
                  $link.removeClass('current')
                }
              });
            });


          </script>
</body>

</html>